.apresentacao{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2%;


    @media screen and (max-width: 667px){
        display: block;
    }

    @media (min-width: 668px) and (max-width: 1101px){
        display: block;
    }

    &__poster{
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media screen and (max-width: 667px){
            width: 100%;
            height: 100%;
        }
    }

    &__texto{
        display:grid;
        grid-template-rows: .5fr 3fr;

        @media screen and (max-width: 667px){
            display: block;
            margin: 20px 0 0 0;
        }

        @media (min-width: 668px) and (max-width: 1101px){
            margin: 20px 0 0 0;
        }
        
        &__titulo{
            margin-bottom: 5px;
            text-align: center;
        }

        &__resumo{
            font-size: 1.2em;
            text-align: justify;

            @media (min-width: 668px) and (max-width: 1101px){
                margin-bottom: 30px;
            }
        }

        &__extras{
            display: flex;
            justify-content: space-between;
    
            @media screen and (max-width: 667px){
                display: block;
            }

            &__diretor{
                align-self: end;
        
                @media screen and (max-width: 667px){
                    margin-bottom: .5em;
                    margin-top: 1em;
                }
            }
        
            &__classificacao{
                width: 400px;

                @media screen and (max-width: 667px){
                    width: 100%;
                }

                &__titulo{
                    display: flex;
                    justify-content: center;
                    margin-bottom: .3em;

                    @media screen and (max-width: 667px) {
                        margin-top: 1em;
                    }
                }

                &__categoria{
                    display: flex;
                    justify-content: space-between;
                    text-transform: uppercase;
                }
            }
        }
    }
}